html {
  min-height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: linear-gradient(
    -225deg,
    #1c4ed8 0%,
    #1879d4 52%,
    #1c4ed8 100%
  );
  min-height: 100%;
  padding-bottom: 5rem;
}
h1 {
  color: rgb(255, 255, 255);
  padding: 1rem 0;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Staatliches', cursive;
  letter-spacing: 1px;
}
h2 {
  color: rgb(107, 116, 109);
  padding: 1rem 0;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Staatliches', cursive;
  letter-spacing: 1px;
}
.lista-citas .media {
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 3rem;
}

.lista-citas .media:last-of-type {
  border-bottom: 0;
}
.lista-citas .media-body p {
  margin: 0;
}
.lista-citas .media-body button {
  margin-top: 1rem !important;
}
.lista-citas .media-body span {
  font-weight: bold;
}

label,
input[type='date'],
input[type='time'] {
  color: rgb(119, 110, 110);
}

input[type='date'],
input[type='time'] {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

.cita {
  padding: 2rem;
  background: white;
  border-bottom: 1px solid #e1e1e1;
  color: rgb(119, 110, 110);
}

.cita p {
  font-weight: bold;
  margin-bottom: 0.8rem;
}
.cita p span {
  font-weight: normal;
}
.cita:first-of-type {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.cita:last-of-type {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.button.eliminar,
.button.eliminar:hover {
  background-color: #c10059;
  color: white;
  margin-top: 2rem;
}

.alerta-error {
  background-color: white;
  color: rgba(248, 63, 63, 0.993);
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Staatliches', cursive;
}
.formulario {
  background-color: #ffffff;
  padding: 5px 10px;
}
form {
  margin-bottom: 5px;
}
.listacitas {
  background-color: #ffffff;
  padding: 5px 10px;
}
.eliminar {
  color: #fff;
  background-color: #ff2e2e;
  border: none;
}
.eliminar:hover {
  background-color: #cf2525;
  color: #fff;
}
.editar {
  color: #fff;
  background-color: #ffb917;
  border: none;
}
.editar:hover {
  background-color: #e6ab22;
  color: #fff;
}
